# Google Places API Key
PLACES_API_KEY=
# Google Maps API Keys
MAPS_API_KEY_ANDROID=
MAPS_API_KEY_IOS=

# Stripe API Keys
# STRIPE_PUBLISHABLE_KEY=pk_test_51RjyErQtj7jwWbc0W8oJyEXAwVuEPBIv0X1JqsUnfyUjo8v4CjNvlKn3C5DUGLpyMO5DrH3dHvchvWGU2zbZqr0Z00m6tqe8Sx
STRIPE_PUBLISHABLE_KEY=

# Google Pay Environment Toggle
# true = TEST, false = PRODUCTION
GOOGLE_PAY_TEST_ENV=

